[scenario]
    id=02_waterford
    next_scenario=null
    turns=-1
    name=Waterford
    victory_when_enemies_defeated=no

    {DAWN}
    {MORNING}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}

    [event]
        name=prestart
        [objectives]
            side=1
            victory_string="Known exits:"
            [objective]
                description= _ "South"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of $main.name"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [side]
        side=1
        team_name=2
        user_team_name={HERO_NAME}
        save_id=brent_side
        controller=human

        id={HERO_ID}
        type={HERO_TYPE}
        canrecruit=yes
        gold=0
        income=-2
        village_gold=-1
        shroud=yes
        fog=yes
    [/side]
    {COMMON 6 waterford}
    {NW_COMMON}
    [side]
        side=2
        controller=ai

        type=Water_Shyde
        id=s2leader
        name=_"Lyra"
        canrecruit=yes
        user_team_name=_"Water Sprites"
    [/side]
    ##### MAP SETUP #####
    [item]
        x, y=24,33
        image=scenery/signpost.png
    [/item]
    [item]
        x,y=28,20
        image=deco/well-small.png
    [/item]
    [item]
        x,y=26,23
        image=deco/caravan.png
    [/item]
    [event]
        name=prestart
        {CAPTURE_VILLAGES 2 11 13 5}
    [/event]
    {FQ_WATERFORD_CENTER}
    ##### END MAP SETUP #####
    #####IN-SCENARIO EVENTS#####
    [event]
        name=capture
        first_time_only=no
        [filter]
            side=1
        [/filter]
        [capture_village]
            x,y=$x1,$y1
        [/capture_village]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y=26,23
        [/filter]
        [message]
            speaker=narrator
            image=deco/caravan.png
            message=_"Huh? What? A customer? I'm sorry... I'm taking the day off."
        [/message]
    [/event]
    ##### END IN-SCENARIO EVENTS #####
    ##### VICTORY/LOSS CONDITIONS #####
    [event]
        name=moveto
        [filter]
            side=1
            x=24
            y=33
        [/filter]
        {VARIABLE from_x 51}
        {VARIABLE from_y 35}
        {CONTINUE 00_worldmap}
    [/event]
    {HERO_DEATH}
    #####END VICTORY/LOSS CONDITIONS#####
[/scenario]
