[scenario]
    id=04_faerie_battlefield
    next_scenario=null
    turns=-1
    name=Faerie Battlefield
    victory_when_enemies_defeated=no

    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}

    [event]
        name=prestart
        [objectives]
            side=1
            victory_string="Known exits:"
            [objective]
                description= _ "North"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of $main.name"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [side]
        side=1
        team_name=1
        user_team_name={HERO_NAME}
        save_id=brent_side
        controller=human

        id={HERO_ID}
        type={HERO_TYPE}

        gold=0
        income=-2
        village_gold=-1
        shroud=yes
        fog=yes
    [/side]
    {COMMON 6 faerie_battlefield}
    {NW_COMMON}
    [side]
        side=2
        controller=ai

        id=s2leader
        type=Faerie Spirit
        canrecruit=yes
        recruit=wisp,Wose_Sapling,Faerie Sprite
        gold=0
        income=40
        [ai]
            #recruitment_pattern=fighter, mixed fighter, archer
            aggression=0.9
            caution=0.1
            number_of_possible_recruits_to_force_recruit=0.5
            leader_value=0
        [/ai]
    [/side]
    [side]
        side=3
        controller=ai

        id=Mezsha
        name=_"Mezsha"
        type=Fire Sprite3
        canrecruit=yes
        recruit=Fire Sprite,Fire Elemental
        ai_special=guardian
        gold=0
        income=40
        [ai]
            #recruitment_pattern=fighter, mixed fighter, archer
            aggression=0.9
            caution=0
            number_of_possible_recruits_to_force_recruit=0.5
            leader_value=0
        [/ai]
    [/side]
    ##### MAP SETUP #####
    [event]
        name=prestart
        {CAPTURE_FILTERED_VILLAGES 2 (terrain=*^Ve,*^Vm) }
        {CAPTURE_FILTERED_VILLAGES 3 (terrain=*^Vpl) }
        [if]
            [variable]
                name=quests.FQ[1].result
                equals=success
            [/variable]
            [then]
                [kill]
                    id=s2leader
                [/kill]
                [unit]
                    id=s2leader
                    type=Water_Shyde
                    name=_"Lyra"
                    canrecruit=yes
                    side=2
                    x,y=16,10
                [/unit]
                [allow_recruit]
                    type=Water_Dryad,Water_Elemental
                    side=2
                [/allow_recruit]
                {SCATTER_UNITS 15 "wisp,Water_Dryad,Water_Elemental,Wose_Sapling,Faerie Sprite" 2 (
                    x=1-34
                    y=13-15
                    {SCATTER_NOT_NEXT}
                    [not]
                        terrain=Wo
                    [/not]
                ) (side=2)}
            [/then]
            [else]
                {SCATTER_UNITS 15 "wisp,Wose_Sapling,Faerie Sprite" 2 (
                    x=1-34
                    y=13-15
                    {SCATTER_NOT_NEXT}
                    [not]
                        terrain=Wo
                    [/not]
                ) (side=2)}
            [/else]
        [/if]
        {GUARDIAN_UNITS (Ancient Wose) 2 14,15,17,18 11,10,10,11}
        {SCATTER_UNITS 10 "Fire Sprite,Fire Elemental" 2 (
            x=1-34
            y=15-17
            {SCATTER_NOT_NEXT}
            [not]
                terrain=Wo
            [/not]
        ) (side=3)}
        {GUARDIAN_UNITS (Fire_Wisp) 3 18,20,21 27,26,27}
    [/event]
    [event]
        name=side turn
        first_time_only=no
        [switch]
            variable=side_number
            [case]
                value=1
                [if]
                    [variable]
                        name=factions.faeries
                        greater_than_equal_to=-10
                    [/variable]
                    [then]
                        [modify_side]
                            side=2
                            team_name=1
                        [/modify_side]
                    [/then]
                    [else]
                        [modify_side]
                            side=2
                            team_name=2
                        [/modify_side]
                    [/else]
                [/if]
                [if]
                    [variable]
                        name=factions.flame
                        greater_than_equal_to=-10
                    [/variable]
                    [then]
                        [modify_side]
                            side=3
                            team_name=1
                        [/modify_side]
                    [/then]
                    [else]
                        [modify_side]
                            side=3
                            team_name=3
                        [/modify_side]
                    [/else]
                [/if]
            [/case]
            [case]
                value=2
                [modify_side]
                    side=3
                    team_name=3
                [/modify_side]
                [if]
                    [variable]
                        name=factions.faeries
                        less_than=-10
                    [/variable]
                    [then]
                        [modify_side]
                            side=2
                            team_name=2
                        [/modify_side]
                    [/then]
                    [else]
                        [modify_side]
                            side=2
                            team_name=1
                        [/modify_side]
                    [/else]
                [/if]
            [/case]
            [case]
                value=3
                [modify_side]
                    side=2
                    team_name=2
                [/modify_side]
                [if]
                    [variable]
                        name=factions.flame
                        greater_than_equal_to=-10
                    [/variable]
                    [then]
                        [modify_side]
                            side=3
                            team_name=1
                        [/modify_side]
                    [/then]
                    [else]
                        [modify_side]
                            side=3
                            team_name=3
                        [/modify_side]
                    [/else]
                [/if]
            [/case]
        [/switch]
    [/event]
    {FQ_FAERIE_BATTLEFIELD_CENTER}
    {FF_FAERIE_BATTLEFIELD_CENTER}
    ##### END MAP SETUP #####
    #####IN-SCENARIO EVENTS#####
    [event]
        name=capture
        first_time_only=no
        [filter]
            side=1
        [/filter]
        [capture_village]
            x,y=$x1,$y1
        [/capture_village]
    [/event]
    [event]
        name=die
        [filter]
            id=Mezsha
        [/filter]
        {ID_MESSAGE Mezsha _"You haven't seen the last of me!"}
        {WES_MESSAGE "Mezsha slips away to the south."}
    [/event]
    [event]
        name=die
        [filter]
            id=s2leader
        [/filter]
        {ID_MESSAGE s2leader _"Curses! I'll have to get more reinforcements."}
        {WES_MESSAGE "$unit.name slips away to the north."}
    [/event]
    ##### END IN-SCENARIO EVENTS #####
    ##### VICTORY/LOSS CONDITIONS #####
    [event]
        name=moveto
        [filter]
            id=$main.id
            x=11
            y=1
        [/filter]
        {VARIABLE from_x 36}
        {VARIABLE from_y 33}
        {CONTINUE 00_aldenforest}
    [/event]
    {HERO_DEATH}
    #####END VICTORY/LOSS CONDITIONS#####
[/scenario]
