[scenario]
    id=Port_Meiran
    next_scenario=World_Map
    turns=-1
    name=Port Meiran
    victory_when_enemies_defeated=no
    map_data={MAP_DATA Port_Meiran}
    
    [map]
        id=Port_Meiran
        turns_per_day=6
    [/map]
    {NW_COMMON}

    {DAWN}
    {DAWN}
    {MORNING}
    {MORNING}
    {AFTERNOON}
    {AFTERNOON}
    {DUSK}
    {DUSK}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}

    ######Map Setup#####
   [label]
        x,y=12,21
        text="Tin Inn"
    [/label]
  
   [label]
        x,y=50,5
        text="Road"
    [/label]

   [label]
        x,y=50,4
        text="Trade"
    [/label]

   [label]
        x,y=50,20
        text="To Farms"
    [/label]

   [label]
        x,y=50,32
        text="To Farms"
    [/label]

   [label]
        x,y=44,35
        text="To Farms"
    [/label]

   [label]
        x,y=36,1
        text="To Farms"
    [/label]

    music=wesnoth-1.ogg

    [event]
        name=prestart
        [objectives]
            side=1
            victory_string="Known exits:"
            [objective]
                description= _ "Northeast"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of $main.name"
                condition=lose
            [/objective]
        [/objectives]
        [show_objectives]
        [/show_objectives]
    [/event]
    [side]
        side=1
        save_id=brent_side
        controller=human
        user_team_name={HERO_NAME}
        id={HERO_ID}
        type={HERO_TYPE}

        shroud=no
        fog=no
        gold=0
        income=-2
        village_gold=-1
    [/side]
    [side]
        side=2
        controller=ai
        no_leader=yes
        hidden=yes
    [/side]
    ##### VICTORY/LOSS CONDITIONS #####
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=17
            y=1
        [/filter]
        {VARIABLE from_x 55}
        {VARIABLE from_y 41}
        {CONTINUE World_Map}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=36
            y=1
        [/filter]
         {VARIABLE from_x 55}
        {VARIABLE from_y 41}
        {CONTINUE World_Map}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=50
            y=4
        [/filter]
         {VARIABLE from_x 55}
        {VARIABLE from_y 41}
        {CONTINUE World_Map}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=50
            y=5
        [/filter]
         {VARIABLE from_x 55}
        {VARIABLE from_y 41}
        {CONTINUE World_Map}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=50
            y=20
        [/filter]
         {VARIABLE from_x 55}
        {VARIABLE from_y 41}
        {CONTINUE World_Map}
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=50
            y=32
        [/filter]
         {VARIABLE from_x 55}
        {VARIABLE from_y 41}
        {CONTINUE World_Map}
    [/event]    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x=44
            y=35
        [/filter]
         {VARIABLE from_x 55}
        {VARIABLE from_y 41}
        {CONTINUE World_Map}
    [/event]
    {HERO_DEATH}
    #####END VICTORY/LOSS CONDITIONS#####
[/scenario]