#define HERO_PATH
brent#enddef
#define HERO_NAME
Brent#enddef
#define HERO_ID
Brent#enddef
#define HERO_TYPE
Brent Young Peasant#enddef

#define HERO_DEATH
	[event]
		name=last breath
		[filter]
			id={HERO_ID}
		[/filter]
		[message]
			speaker=unit
			message= _ "Whoops..."
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/event]
#enddef
#define HERO_UNIT_DECLARATION
	name={HERO_NAME}
	unrenamable=yes
	canrecruit=yes
	[modifications]
		[trait]
			id=creative
			availability=none
			name= _ "creative"
			description= _ "Brent can think outside the box. He levels differently than other units."
		[/trait]
		[trait]
			id=fheal
			availability=none
			name= _ "fast healer"
			description= _ "Brent has always been a fast healer. He always heals two extra hps per turn."
		[/trait]
	[/modifications]
#enddef